<div class="d-flex justify-content-around">
  <div class="d-flex flex-column justify-content-around h2 w-25 text-center">
    <span>(502)</span>
    <span>201</span>
    <span>5820</span>
  </div>

  <div class="flex-fill text-center">
    <h1 class="d-flex flex-column">
      <span>Jared</span>
      <span>Huffstutler</span>
    </h1>

    <a href="mailto:name@email.com" target="_blank" rel="noopener">
      jaredhuff85@gmail.com
    </a>
  </div>

  <app-social-media class="w-25"></app-social-media>
</div>