<div class="d-flex flex-column flex-sm-row align-items-center justify-content-around my-5 border border-success">
  <a
    href="tel:{{formattedPhoneNumber}}"
    rel="noreferrer noopener"
    class="d-flex flex-sm-column justify-content-around h2 order-1 order-sm-0 w-sm-25 text-center text-decoration-none text-lightblue"
  >
    <span
      *ngFor="let phonePart of phoneNumber; index as i"
      class="m-2 mx-sm-0"
    >
      {{phonePart}}
    </span>
  </a>

  <div class="align-self-sm-start flex-fill order-0 order-sm-1 text-center">
    <h1 class="d-flex flex-column text-lightblue">
      <span>Jared</span>
      <span>Huffstutler</span>
    </h1>

    <a href="mailto:{{emailAddress}}" class="text-lightblue">
      {{emailAddress}}
    </a>
  </div>

  <app-social-media class="order-2 social-icons"></app-social-media>
</div>