<section class="text-lightblue">
  <header>
    <h1>{{title}}</h1>
    <h3 class="text-muted">EXPECT MORE</h3>
  </header>

  <div class="d-flex">
    <p class="mr-5 text-justify">
      Captivated programmer with an insatiable appetite for learning and continuous improvement. Self-taught with over 8 years of experience in full-stack web development techniques and practices. I have also learned non-technical skills which include critical thinking, problem solving, time-management, and handling failure and setback.
    </p>

    <img src="../../assets/images/me.png" class="img-fluid bio-image" />
  </div>
</section>