@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


body {
  background-image: url(assets/images/pexels-photo-235985.jpg);
}

.text-lightblue,
a.text-lightblue:hover {
  color: lightblue;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.75rem;
}

.glow-shadow {
  border-radius: 25px;
  box-shadow:
    10px 10px 50px 2px rgb(0, 0, 0),
    inset -1px -1px 250px 1px rgba(173, 216, 230, 0.2),
    inset 0 0 10px 0px rgb(173, 216, 230);
}

@media only screen and (min-width: 575px) {
  .w-sm-25 {
    width: 25% !important;
  }
}